@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h3 {
    color: #505469;
}

p {
    font-size: .9rem;
}

label {
    font-size: small;
    color: rgb(78, 78, 78);
}

body {
    background: #f6f6f6;
}

.navbar {
    width: 100%;
    color: #f6f6f6;
    background: #3f51b5;
    border-bottom: 1px solid rgb(23, 35, 64);
    margin-bottom: 1.5rem;
}

.navbar>.container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-brand {
    text-decoration: none;
    font-weight: bold;
    color: #f6f6f6;
}

.navbar-brand>h3 {
    color: #f6f6f6;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.colums {
    display: flex;
    justify-content: space-between;
}

.input-data>form {
    border-radius: .25rem;
    color: rgb(32, 33, 34);
    padding: .5rem .75rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column wrap;
}

.input-data>form>label {
    margin-bottom: .5rem;
}

.input-data .checkbox {
    margin-bottom: 1.5rem;
}

.input-data .button {
    max-width: 15rem;
    align-self: flex-start;
    margin-bottom: .25rem;
}

.input-data .form-input {
    margin-bottom: 1rem;
}

.input-data.hide {
    display: none;
}

.list-buku {
    border-radius: 7px;
    color: rgb(115, 115, 115);
    padding: 20px 20px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background: #fff;
    box-shadow: 0 0.46875rem 4rem rgb(90 97 105 / 0%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 9%), 0 0.25rem 0.53125rem rgb(90 97 105 / 6%), 0 0.125rem 0.1875rem rgb(90 97 105 / 0%);
    width: 500px;
    height: fit-content;
}

.buku {
    color: #505469;
    line-height: 2;
}

.buku:not(:last-child) {
    border-bottom: 1px solid #44576c33;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.buku .button {
    font-size: small;
    padding: 10px 20px;
    color: #f6f6f6;
    margin-right: 0.25rem;
}

.form-input {
    outline: none;
    border-radius: 0.25rem;
    border: 1px solid rgb(0 0 0 / 5%);
    padding: 0.5rem 0.75rem;
    background: #a2a2a212;
}

.form-input:focus {
    border-color: rgb(114, 124, 245);
}

.form-input::placeholder {
    color: rgb(200, 200, 200);
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    padding: .5rem .75rem;
    border-radius: .25rem;
}

.button-primary {
    background: #3f51b5;
    color: #f6f6f6;
}

.button-danger {
    background: rgb(255, 51, 102);
}

.button-success {
    background: rgb(16, 183, 89);
}

.button.button-primary:hover {
    background: #3a4580;
}

.button.button-danger:hover {
    background: #db2a56;
}

.button.button-success:hover {
    background: #0b8440;
}

.checkbox {
    display: flex;
    font-size: small;
    align-items: center;
}

.container {
    max-width: 1080px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 5% auto;
    width: 50%;
    animation-name: modalopen;
    animation-duration: 0.5s;
    border-radius: 9px;
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: #3f51b5;
    padding: 15px;
    color: #f6f6f6;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.modal-body {
    padding: 10px 20px;
}

.modal-footer {
    background: #3f51b5;
    padding: 10px;
    color: #f6f6f6;
    text-align: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #f6f6f6;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@media(min-width:768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}